.floating-box1 {
    background: Moccasin;
    float: left;
    width: 20%;
    /*border: 3px solid #73AD21;*/
}

.flex-container1-1 {
  display: flex;
  flex-direction: column;
}

.flex-item1-1 {
  padding: 5px;
  width: 200px;
  height: 50px;
  margin-left: 10px;
  font-weight: bold;
}

.flex-container1-2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  border: 10px solid Moccasin;
}

.flex-item1-2 {
  /*background: mistyrose;*/
  /*padding: 5px;*/
  width: 200px;
  height: 35px;
  margin-left: 20px;
  font-weight: bold;
}

.floating-box2 {
    float: left;
    width: 80%;
    /*border: 3px solid #73AD21;*/
}

.flex-container2-1 {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
}

.flex-item2-1 {
  padding: 5px;
  width: 200px;
  height: 50px;
  margin-left: 10px;
  font-weight: bold;
  /*border: 10px solid mistyrose;*/
}

.flex-container2-2 {
  display: flex;
  flex-direction: column;
  height: 500px;
  border-bottom: 2px solid black;
  /*border: 10px solid mistyrose;*/
}

.flex-item2-2 {
  /*background: mistyrose;*/
  /*padding: 5px;*/
  width: 200px;
  height: 40px;
  margin-left: 20px;
}

.flex-item2-3 {
  font-weight: bold;
}

.fixed-container2-3 {
  position: static;
  bottom: 0;
  left: 0;
  width: 90%;
  /*border: 3px solid #73AD21;*/
}
